.toolbar {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
    justify-content: center;
    
  }
.content {
    display: flex;
    margin: 40px auto 32px;
    padding: 16px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
.content-custom {
    display: flex;
    margin: 40px auto 32px;
    padding: 16px;
    max-width: 600px;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}
.content-custom-cart {
    display: flex;
    margin: 40px auto;
    padding: 16px;
    max-width: 60%;
    flex-direction: row;
}
.content-custom-table {
    display: flex;
    margin: 40px auto;
    padding: 16px;
    max-width: 60%;
    flex-direction: row;
    margin-top: -50px;
}
.content-custom-table button {
    display: flex;
    margin: 40px auto;
    padding: 16px;
    max-width: 60%;
    flex-direction: row;
    justify-content: center;
}

.card {
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    border-radius: 10px;
    background-color: yellow;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

table {
    width: 100%;
}
